/* Set margins and such for sticky footers */
html, body {
    margin: 0;
    padding: 0;

    height: 100%;
}

body {
    font-family: "Source Sans Pro", sans-serif;

    background: #222226;
}

#site-container {
    min-height: 100%;
    position: relative;
}

#page-wrapper {
    background: #222226;
    /*
    background-image: -moz-linear-gradient(160deg, rgba(183,89,89,1) 0%, #222226 300px);
    background-image: -webkit-linear-gradient(160deg, rgba(183,89,89,1) 0%, #222226 300px);
    background-image: -ms-linear-gradient(160deg, rgba(183,89,89,1) 0%, #222226 300px);
    background-image: linear-gradient(160deg, rgba(183,89,89,1) 0%, #222226 300px);
    */

    padding-top: 28px;
    /* The height of the footer + the same padding from the top. */
    padding-bottom: 145px;
}

#site-footer {
    position: absolute;
    bottom: 0;

    width: 100%;

    /*
     The footer size must be set exactly to make it stick.

     4px border on the top
     28px padding on top
     20px line height for footer links
     10px padding on bottom of footer links
     14px padding above copyright information
     20px line height for copyright information
     21px padding on the bottom

     117px in total.
    */
    height: 117px;

    padding: 28px 0 21px 0;

    border-top: 4px solid #a70b0b;

    background-color: #333232;
    color: #d8d8d8;
}

#site-footer ul.footer-links {
    list-style-type: none;
    text-align: center;

    margin-bottom: 10px;
}

#site-footer ul.footer-links > li {
    display: inline;

    padding: 0 1em;

    border-left: 1px solid #cacaca;
}

#site-footer ul.footer-links > li:first-child {
    border-left: none;
}

#site-footer ul.footer-links > li > a {
    color: #d8d8d8;
}

#site-footer .copyright-information {
    text-align: center;

    padding-top: 14px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
}

code, kbd, pre, samp {
    font-family: "Source Code Pro", monospace;
}

header h1 + p {
    font-size: 18px;
}

.navbar {
    min-height: 48px;
    border: 0;
    border-radius: 0;
}

.navbar-nav > li > a {
    padding-top: 14px;
    padding-bottom: 14px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    background: url("../image/d-icon.svg") no-repeat center, #a70b0b;
    width: 56px;
    height: 48px;
    padding: 0;
}

.navbar-static-top {
    text-transform: uppercase;
    background-color: #333232;
    color: #d8d8d8;

    border-top: 4px solid #a70b0b;
    margin-bottom: 0;
}

.navbar-static-top .container-fluid {
    padding: 0;
}

.navbar-static-top .navbar-collapse {
    padding: 0;
}

.navbar-static-top .navbar-nav > li > a {
    color: #d8d8d8;
}

.navbar-static-top .navbar-nav > li > a:hover {
    color: white;
}

.navbar-static-top .navbar-nav > li > a {
    border-right: 1px solid black;
}

.navbar-static-top .navbar-nav.navbar-right {
    margin-right: 0;
}

.navbar-static-top .navbar-nav.navbar-right > li > a {
    border-left: 1px solid black;
}

.navbar-static-top .navbar-form.navbar-right button {
    margin-left: 4px;
}

.page-center > .row > .nav-column,
.page-center > .row > .extra-column {
    padding: 0;
}

.page-center > .row > .extra-column > aside {
    width: 243px;
    top: 0px;
}

.page-center > .row > .extra-column > aside.scrollable {
    overflow: auto;
}

.nav-stacked {
    background-color: #f1f1f1;
    color: #333232;
}

.nav-stacked.nav-pills > li {
    margin-top: 0;
}

.nav-stacked.nav-pills > li > a {
    background-color: transparent;
    color: #333232;

    margin-left: 8px;
    margin-right: 8px;

    padding-left: 4px;
    padding-right: 4px;

    border-top: 1px solid #cacaca;
    border-radius: 0;

    word-wrap: break-word;
}

.nav-stacked.nav-pills > li:first-child > a {
    border-top-color: transparent;
}

.nav-stacked.nav-pills > li:hover,
.nav-stacked.nav-pills > li:focus {
    background-color: #e5e5e5;
}

.nav-stacked.nav-pills > li:hover > a,
.nav-stacked.nav-pills > li:focus > a {
    border-top-color: transparent;
}

.nav-stacked.nav-pills > li:hover + li > a,
.nav-stacked.nav-pills > li:focus + li > a {
    border-top-color: transparent;
}

.nav-stacked.nav-pills > li.active {
    background-color: #333232;
}

.nav-stacked.nav-pills > li.active > a {
    background-color: transparent;
    color: #d8d8d8;
    border-top-color: transparent;
}

article {
    background-color: #f1f1f1;
    color: #333232;

    overflow: auto;
    padding: 0 1em;

    padding-bottom: 2em;
}

article ul.spaced-points > li {
    margin-top: 1em;
}

article > table {
    border-collapse: collapse;
}

article > table tr {
}

article > table td,
article > table th {
    border: 1px solid black;
    padding: 0.5em;
}

#twitter > a {
    display: block;
    width: 100%;
    padding: 8px;

    background-color: #333232;
    color: #d8d8d8;
}

h1 > .toc-link,
h2 > .toc-link,
h3 > .toc-link,
h4 > .toc-link {
    visibility: hidden;

    font-weight: 400;
    font-size: 0.8em;
    vertical-align: top;
    color: inherit;
    opacity: 0.8;
}

h1:hover > .toc-link,
h2:hover > .toc-link,
h3:hover > .toc-link,
h4:hover > .toc-link {
    visibility: visible;
    text-decoration: none;
}

#toc {
    background-color: #f1f1f1;
    color: #333232;

    overflow: auto;
}

#toc > header {
    margin: 0.5em 0;
    padding-left: 14px;
    font-size: 18px;
    font-weight: 600;
}

#toc ul {
    list-style-type: none;
    padding-left: 16px;
}

#toc li {
    padding-top: 0.5em;
}

#toc > ul > li:first-child {
    padding-top: 0;
}

#toc a {
    color: #333;
}

.download-list {
    list-style-type: none;
    padding-left: 0.5em;
}

.download-list > li:before {
    content: "\2014";
}

.download-list .architectures {
    font-style: italic;
    color: #C7254E;

    margin-left: 0.25em;
}

.download-list .architectures:before,
.download-list .architectures:after {
}

.download-list .architectures:before {
    content: "(";
}

.download-list .architectures:after {
    content: ")";
}

.download-list .links a + a {
    margin-left: 0.5em;
}

.changelog-version-list {
    font-size: 16px;
    list-style-type: none;
    padding-left: 0;
}

.changelog-version-list > li > a {
    color: black;
}

.changelog-version-list > li > a > .version {
    color: #428BCA;
}
